### Pandas Module
* allows us to carryout data analytics operations in python
    * importing data
    * filtering data
    * sorting data
    * aggregating data
    * joining data

In [ ]:
# first import pandas module
import pandas as pd

#### Importing and Viewing Data

In [ ]:
# import data and store into variable
df = pd.read_csv(r'/home/hzrd/Code/github/data_analysis_python/Data/raw/Expenses_Data_Details.csv')
df

In [ ]:
# display small section of data (top x rows: df.head(x))
df.head(10)

In [ ]:
# look at the logic of our first filter and apply, output is True/False
df["Transaction Name"] == "Dinner"

In [ ]:
# apply the filter on the data frame itself
df[df["Transaction Name"] == 'Dinner']

In [ ]:
# applying numerical filter
df[df["Amount"] > 20]

In [ ]:
# applying more than one filter
df[(df["Amount"] > 20) & (df["Transaction Name"] == "Dinner")]

In [ ]:
# multiple filters (OR)
df[(df["Transaction Name"] == "Lunch") | (df["Transaction Name"] == 'Dinner')]

#### Sorting Data

In [ ]:
df.head()

In [ ]:
# ascending order
df.sort_values(by=['Amount'], ascending = True)

In [ ]:
# descending order
df.sort_values(by=['Amount'], ascending = False)

In [ ]:
# can also sort on text colums
df.sort_values(by=['Supplier ID'], ascending = True)

In [ ]:
df.sort_values(by=['Transaction Name'], ascending = True)

### Aggregating Data

In [ ]:
df

In [ ]:
# create a new data frame where the 'Transaction Name' and 'Amount' colums are present
df_x = df[['Transaction Name', 'Amount']]
df_x

In [ ]:
# aggregation can be carried out where the sum of a value is considered
df_x.groupby(['Transaction Name'], as_index=False).sum()

In [ ]:
# also carry out an aggregation where the count of each instance is considered
df_x.groupby(['Transaction Name'], as_index=False).count()

In [ ]:
# can also have the sum and count of the 'Amount' present in the same aggregation
df_x.groupby(['Transaction Name'], as_index=False).agg({'Amount':['sum','count']})

In [ ]:
df_y = df[['Supplier ID', 'Amount']]
df_y

In [ ]:
df_y.groupby(['Supplier ID'], as_index=False).sum()

In [ ]:
df_y.groupby(['Supplier ID'], as_index=False).count()

In [ ]:
df_y.groupby(['Supplier ID'], as_index=False).agg({'Amount':['sum','count']})

#### Joining Data

In [ ]:
# look at table which we have been working with
df.head()

In [ ]:
#import another table to join the first
df_2 = pd.read_csv(r'/home/hzrd/Code/github/data_analysis_python/Data/raw/Expenses_Data_Suppliers.csv')
df_2

###### The first and second table have the 'Supplier ID' column as a common column between them. We can use this column so that the 'Supplier Name' colum can be introduced to the first table. To do this, we have to define a join

In [ ]:
#           pandas.merge(table_1, table_2, Type_Of_Merge, left_on=label or list/array-like, right_on=label or list/array-like)
df_master = pd.merge(df,df_2, how = 'inner', left_on='Supplier ID', right_on='Supplier ID')
df_master.head()