### Pandas Module
* allows us to carryout data analytics operations in python
    * importing data
    * filtering data
    * sorting data
    * aggregating data
    * joining data

In [2]:
# first import pandas module
import pandas as pd

#### Importing and Viewing Data

In [10]:
# import data and store into variable
df = pd.read_csv(r'/home/hzrd/Code/github/data_analysis_python/Data/raw/Expenses_Data_Details.csv')
df

    Transaction ID  Transaction Name Supplier ID  Amount        Date
0            10001         Taxi Ride        AA03    15.0  01/11/2019
1            10002            Dinner        AA01    40.0  01/11/2019
2            10003         Groceries        AA04    35.0  02/11/2019
3            10004             Lunch        AA08     7.0  02/11/2019
4            10005         Taxi Ride        AA03     8.5  02/11/2019
5            10006     Entertainment        AA07    13.0  02/11/2019
6            10007            Dinner        AA06    18.0  02/11/2019
7            10008             Lunch        AA02     6.0  03/11/2019
8            10009     Entertainment        AA09     9.0  03/11/2019
9            10010         Breakfast        AA02     3.0  04/11/2019
10           10011         Groceries        AA04    15.0  04/11/2019
11           10012            Dinner        AA06    10.0  04/11/2019
12           10013  Public Transport        AA05     6.9  04/11/2019
13           10014  Public Transport        AA05     6.9  05/11/2019
14           10015             Lunch        AA08     6.5  05/11/2019
15           10016  Public Transport        AA05     7.9  06/11/2019
16           10017            Dinner        AA01    35.0  06/11/2019
17           10018         Taxi Ride        AA03    13.0  06/11/2019
18           10019  Public Transport        AA05     5.6  07/11/2019
19           10020             Lunch        AA02     4.5  07/11/2019
20           10021         Groceries        AA04    30.0  08/11/2019
21           10022  Public Transport        AA05     5.7  08/11/2019

In [11]:
# display small section of data (top x rows: df.head(x))
df.head(10)

   Transaction ID Transaction Name Supplier ID  Amount        Date
0           10001        Taxi Ride        AA03    15.0  01/11/2019
1           10002           Dinner        AA01    40.0  01/11/2019
2           10003        Groceries        AA04    35.0  02/11/2019
3           10004            Lunch        AA08     7.0  02/11/2019
4           10005        Taxi Ride        AA03     8.5  02/11/2019
5           10006    Entertainment        AA07    13.0  02/11/2019
6           10007           Dinner        AA06    18.0  02/11/2019
7           10008            Lunch        AA02     6.0  03/11/2019
8           10009    Entertainment        AA09     9.0  03/11/2019
9           10010        Breakfast        AA02     3.0  04/11/2019

In [12]:
# look at the logic of our first filter and apply, output is True/False
df["Transaction Name"] == "Dinner"

0     False
1      True
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16     True
17    False
18    False
19    False
20    False
21    False
Name: Transaction Name, dtype: bool

In [13]:
# apply the filter on the data frame itself
df[df["Transaction Name"] == 'Dinner']

    Transaction ID Transaction Name Supplier ID  Amount        Date
1            10002           Dinner        AA01    40.0  01/11/2019
6            10007           Dinner        AA06    18.0  02/11/2019
11           10012           Dinner        AA06    10.0  04/11/2019
16           10017           Dinner        AA01    35.0  06/11/2019

In [14]:
# applying numerical filter
df[df["Amount"] > 20]

    Transaction ID Transaction Name Supplier ID  Amount        Date
1            10002           Dinner        AA01    40.0  01/11/2019
2            10003        Groceries        AA04    35.0  02/11/2019
16           10017           Dinner        AA01    35.0  06/11/2019
20           10021        Groceries        AA04    30.0  08/11/2019

In [16]:
# applying more than one filter
df[(df["Amount"] > 20) & (df["Transaction Name"] == "Dinner")]

    Transaction ID Transaction Name Supplier ID  Amount        Date
1            10002           Dinner        AA01    40.0  01/11/2019
16           10017           Dinner        AA01    35.0  06/11/2019

In [ ]:
# multiple filters (OR)
df[(df["Transaction Name"] == "Lunch") | (df["Transaction Name"] == 'Dinner')]