### Pandas Module
* allows us to carryout data analytics operations in python
    * importing data
    * filtering data
    * sorting data
    * aggregating data
    * joining data

In [1]:
# first import pandas module
import pandas as pd

#### Importing and Viewing Data

In [ ]:
# import data and store into variable
df = pd.read_csv(r'/home/hzrd/Code/github/data_analysis_python/Data/expense_data_1.csv')
df

In [ ]:
# display small section of data (top x rows: df.head(x))
df.head()

In [ ]:
# look at the logic of our first filter and apply, output is True/False
df['Category'] == 'Food'

In [ ]:
# apply the filter on the data frame itself
df[df['Category'] == 'Food']

In [ ]:
# applying numerical filter
df[df['INR'] > 20]

In [ ]:
# applying more than one filter
df[(df['INR'] > 20) & (df['Category'] == 'Food')]

In [11]:
# multiple filters (OR)
df[(df['Note'] == 'Lunch') | (df['Note'] == 'Dinner')]

,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Note.1,Amount,Currency,Account.1
2,3/1/2022 19:50,CUB - online payment,Food,NaN,Dinner,78.00,Expense,NaN,78.00,INR,78.00
9,2/27/2022 15:29,CUB - online payment,Food,NaN,Lunch,243.00,Expense,NaN,243.00,INR,243.00
28,2/20/2022 15:24,CUB - online payment,Food,NaN,Lunch,200.00,Expense,NaN,200.00,INR,200.00
38,2/17/2022 13:11,CUB - online payment,Food,NaN,Lunch,80.00,Expense,NaN,80.00,INR,80.00
44,2/12/2022 14:48,CUB - online payment,Food,NaN,Lunch,80.00,Expense,NaN,80.00,INR,80.00
64,1/30/2022 19:17,CUB - online payment,Food,NaN,Dinner,155.00,Expense,NaN,155.00,INR,155.00
86,1/23/2022 21:41,CUB - online payment,Food,NaN,Dinner,465.00,Expense,NaN,465.00,INR,465.00
88,1/23/2022 21:29,CUB - online payment,Food,NaN,Lunch,302.00,Expense,NaN,302.00,INR,302.00
97,1/18/2022 20:54,CUB - online payment,Food,NaN,Dinner,301.15,Expense,NaN,301.15,INR,301.15
112,1/13/2022 20:46,CUB - online payment,Food,NaN,Dinner,66.00,Expense,NaN,66.00,INR,66.00
194,12/18/2021 14:19,CUB - online payment,Food,NaN,Lunch,160.00,Expense,NaN,160.00,INR,160.00
200,12/16/2021 13:38,CUB - online payment,Food,NaN,Lunch,30.00,Expense,NaN,30.00,INR,30.00
202,12/14/2021 23:54,CUB - online payment,Food,NaN,Lunch,40.00,Expense,NaN,40.00,INR,40.00
229,12/4/2021 21:05,CUB - online payment,Food,NaN,Dinner,324.00,Expense,NaN,324.00,INR,324.00
246,11/29/2021 20:47,CUB - online payment,Food,NaN,Dinner,50.00,Expense,NaN,50.00,INR,50.00
265,11/25/2021 20:27,CUB - online payment,Food,NaN,Dinner,95.00,Expense,NaN,95.00,INR,95.00
267,11/24/2021 19:23,CUB - online payment,Food,NaN,Dinner,70.00,Expense,NaN,70.00,INR,70.00
271,11/23/2021 22:53,CUB - online payment,Food,NaN,Dinner,179.00,Expense,NaN,179.00,INR,179.00
272,11/22/2021 14:16,CUB - online payment,Food,NaN,Dinner,90.00,Expense,NaN,90.00,INR,90.00
275,11/21/2021 15:50,CUB - online payment,Food,NaN,Lunch,875.00,Expense,NaN,875.00,INR,875.00